{% extends 'base.html.twig' %}

{# description du contenu du titre #}
{% block title %}
    {{ ladate }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body  %}
    {# description contenu du stylesheet avec un lien boostrap #}
    <h1 class="text-center my-5">Comparaison des dates</h1>

    {% set dateActuelle = "now"|date("d-m-Y") %}

    {#comparaison des dates DEBUT#}

    <div class="d-flex  ml-5 mt-2 mr-2">
        <div class="w-50">
            <span class="d-inline-block p-2  text-center  ml-5 text-white bg-dark w-25">Date actuelle </span>
            <span class="d-inline-block pt-1 text-center bg-white border border-dark w-25 font-weight-bold">{{ dateActuelle }}</span>
        </div>
        <div class="w-50">
            <span class="d-inline-block p-2  text-center  ml-5 text-white bg-dark w-25">Date aléatoire </span>
            <span class="d-inline-block pt-1 text-center bg-white border border-dark w-25 font-weight-bold">{{ date }}</span>
        </div>
    </div>
    <div class="w-50   mt-3 ">
        <span class="d-inline-block p-2 text-center  ml-5 text-white bg-dark w-25">Result de la comparaison </span>
        {% if dateActuelle < date %}
            <span class="d-inline-block p-2 text-center   border border-white w-50 text-white bg-danger">date actuelle inferieur à la date aléatoire</span>
        {% elseif dateActuelle > date %}
            <span class="d-inline-block p-2 text-center  border border-white w-50 text-white bg-warning">date actuelle superieure à la date aléatoire</span>
        {% else %}
            <span class="d-inline-block p-2 text-center  border border-white w-50 text-white bg-success">date actuelle égale à la date aléatoire</span>
        {% endif %}
    </div>
{% endblock %}