{% extends 'base.html.twig' %}

{# description du contenu du titre #}
{% block title %}
    {{ accueil }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body  %}
    {# description contenu du stylesheet avec un lien boostrap #}
    <h1 class="align-self-center mx-auto">{{ msg }}</h1>
{% endblock %}