{% extends 'base.html.twig' %}

{# description du contenu du titre #}
{% block title %}
    {{ accueil }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body  %}
    {# description contenu du stylesheet avec un lien boostrap #}
    <h1 class="mx-auto text-center mt-5 pt-5 text-primary">{{ msg|upper }}</h1>
{% endblock %}